:root {
    --primary-color: #ccc;
    --nav-height: 75px;
}

.nav {
    height: var(--nav-height);
    background-color: var(--primary-color);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}

.nav__logo,
.nav__items,
.nav__search {
    flex-grow: 1;
    height: 100%;
    width: 80%;
}

.nav__logo {
    background-color: blue;
}

.nav__items {
    background-color: brown;
}

.nav__search {
    background-color: chocolate;
}
