:root {
    --primary-color: #ccc;
    --nav-height: 75px;
    --footer-height: calc(var(--nav-height) - 25px);
    --container-margin: 20px;
    
    --card-frame-height: 20px;
}

@keyframes holder-loading {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 1000px 0;
    }
}

body {
    font-family: sans-serif;
}

.nav, 
.footer {
    width: 100%;
    background-color: var(--primary-color);
}

.nav {
    height: var(--nav-height);
    position: fixed;
    top: 0;
    display: flex;
    z-index: 99999;
}

.nav__logo, 
.nav__items, 
.nav__search,
.nav__hamburguer {
    flex-grow: 1;
    margin: 0 var(--container-margin);
    align-items: center;
    display: flex;
}


.nav__hamburguer {
    background-color: aqua;
    padding: 5px;
    margin: 0;
    width: 100%;
}

.nav__toggle-btn,
.nav__toggle-btn::before,
.nav__toggle-btn::after {
    background-color: #272727;
    height: 5px;
    width: 20px;
    border-radius: 2px;
    margin: 0 auto;
}

.nav__toggle-btn {
    border: none;
    position: relative;
}

.nav__toggle-btn::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 0;
}

.nav__toggle-btn::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
}


.nav__logo {
    background-color: blue;
}

.nav__items {
    background-color: brown;
    display: none;
}

.nav__search {
    background-color: chocolate;
}

.container {
    margin: 0 var(--container-margin);
    margin-top: calc(var(--nav-height) + var(--container-margin));
    margin-bottom: var(--container-margin);
    height: 100%;
}

.card:not(:first-child) {
    margin-top: 10px;
}

.card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    height: 300px;
    display: flex;
    border: 1px solid #c2c2c2;
    flex-direction: column;
    background-color: #fff;
    min-width: 250px;
    max-width: 50%;
    flex-grow: 1;
    margin: 10px;
}

.card__header,
.card__footer {
    height: var(--card-frame-height);
    background-color: #fff;
    padding: 10px;
}

.card__header__holder,
.card__body__holder,
.card__body__holder::before,
.card__body__holder::after {
    background-color: #ccc;
    display: block;
    min-height: 20px;
    background-image: linear-gradient(90deg,#e4e4e4 0%,#f1f1f1 40%,#ededed 60%,#e4e4e4 100%);
    background-position: 0px 0px;
    background-repeat: repeat;
    animation: holder-loading 10s ease-in-out infinite;
}

.card__header__holder {
    width: 50%;
    height: 100%;
}

.card__body {
    flex-grow: 1;
    padding: 10px;
}

.card__body__holder {
    position: relative;
}

.card__body__holder::before,
.card__body__holder::after {
    content: '';
    margin: 10px 0;
    position: absolute
}

.card__body__holder::before {
    top: 20px;
    width: 80%;
}

.card__body__holder::after {
    top: 50px;
    width: 85%;
}

.card__footer button {
    border: none;
    height: 20px;
    box-sizing: content-box;
    padding: 5px;
    background-color: var(--primary-color);
    color: #fff;
    width: 80%;
    border-radius: 5px;
}

.footer,
.card__footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    position: absolute;
    bottom: 0;
    height: var(--footer-height);
}

.footer__text {
    font-weight: bold;
    font-size: .7rem;
    color: #fff;
}